{
  "trailingComma": "es5",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "never",
  "printWidth": 100,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "singleAttributePerLine": false,
  "organizeImportsSkipDestructiveCodeActions": true
}
